name: Test and report
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
    push:
      branches:
        - develop
        - master
    pull_request:
      branches:
        - develop
        - master

jobs:
    buid:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                python-version: '3.6'
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            - name: Test with pytest
              run: |
                pip install pytest
                pip install pytest-cov
                python -m pytest --cov=./ --cov-report=xml tests/unit_tdd
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v1
