name: Test and report

on:
    push:
      branches:
        - develop
        - master
    pull_request:
      branches:
        - develop
        - master

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            python-version: [3.6, 3.7, 3.8]
          fail-fast: false
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                python --version
                python -m pip install poetry
                python -m pip install --upgrade pip
                poetry install
            - name: Test with pytest
              run: |
                poetry run python -m pytest --cov=./ --cov-report=xml tests/unit_tdd
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v1
